name: Bundle

on:
  push:
    branches:
      - "main"

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dotnet: [5.0.300]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Restore tools
        run: dotnet tool restore
      - name: Restore dependencies
        run: dotnet restore
      - name: Bundle
        run: cd src/B && dotnet publish -c Release -r linux-x64 -o "deploy"
      - name: Bundle (single file)
        run: cd src/B && dotnet publish -c Release -r linux-x64 -o "deploy" -p:PublishSingleFile=true
